__pycache__/
*.py[cod]
*$py.class
*.egg
*.egg-info/
dist/
build/
pip-wheel-metadata/
.env
*.env
.DS_Store
Thumbs.db
venv/
.env/
.venv/
uploads/
database/
*.pkl
*.faiss
*.index
*.log
*.tmp
*.bak
*.ipynb